{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{%url 'home'%}">WEBSITE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
      </li>
{% if request.user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
      </li>
{%endif%}
    </ul>
  </div>
  {%if user.is_authenticated%}
  <span ><a  class="hello-msg" href="{% url 'myaccount' %}">myaccount</a></span>|||
  <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span>|||
  {%else%}
  <span ><a  class="hello-msg" href="{% url 'register' %}">signup</a></span>|||
  <span ><a  class="hello-msg" href="{% url 'login' %}">login</a></span>||||
  {%endif%}
</nav>
